* {
    box-sizing: border-box;
}

#menu a:hover {
	color: blue;
}

.box{
	margin: 2px;
	float: left;
	width: 32%;
}
.img{
	width: 100%;
	height: auto;
}
.anhnen{
	width: 100%;
}
.bao{
	max-width: 1500px;
	margin: auto;
}
.menu a{
	text-align: center;
	margin: 10px;
	padding: 10px;
	display: block;
	font-size: 20px;
	color: green;
	text-decoration: none;
}

.chat{
	position: fixed;
	right: 30px;
	bottom: 30px;
}

.album{
	max-width: 1170px;
	height: auto;
}

.chatchat{
	width: 50px;
	height: 50px;
}

.div{
	float: left;
}

.menu{
	border: 2px solid blue;
	margin: 12px;
}