h1{
	font-size: 50px;
}
img{
	width: 300px;
}
.cellphones{
	width: 1000px;
}
pre{
	font-size: 15px;
}
.ip5s{
	width: 150px;
}
.ss8{
	width: 150px;
}
a:link {
	color: black;
}
/*link chưa ấn*/
a:visited {
	color: grey;
}
/*link đã ấn*/
a:hover {
	color: blue;
}
/*khi cho con trỏ qua*/
a:active {
	color: red;
}
/*khi click*/